<!-- <% if (login) { %>
  <nav class="navbar navbar-dark bg-dark p-4">
    </nav>
<% }
else {%>
<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
 <% } %> -->
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Dropdown -->
  <button class="openbtn bg-dark" onclick="openNav()">☰</button>  
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <!-- Brand -->
  <a class="navbar-brand " href="#"> <i class="fas fa-wallet "></i> +</a>
  


</nav> 