<div class="container h-100 mt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card ">
          
            <div class="text-danger text-center mt-5" >Next Game Will Start In</div>
                <div class="row d-flex justify-content-around mt-3 ">
                    <div class="col-2  text-center p-2 rounded box1 ">
                     <div class="text-danger mt-4 font-weight-bold"><h3>04</h3></div>
                    </div>
                    <div class="col-2  text-center p-2 rounded box1 ">
                        <div class="text-danger mt-4 font-weight-bold"><h3>42</h3></div>
                       </div>
                       <div class="col-2  text-center p-2 rounded box1 ">
                        <div class="text-danger mt-4 font-weight-bold"><h3>06</h3></div>
                       </div>
                  </div>
                  <div class="row d-flex justify-content-around ">
                    <div class="col-2  d-flex justify-content-around ">
                        <div ><small class="font-weight-bold ">Hours</small></div>
                    </div>
                    <div class="col-2 d-flex justify-content-around">
                        <div ><small class="font-weight-bold">Minutes</small></div>
                       </div>
                       <div class="col-2 d-flex justify-content-around">
                        <div ><small class="font-weight-bold">Seconds</small></div>
                       </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                  <div class="d-flex justify-content-center mt-1 login_container">
                    <button type="button" name="button" class="btn login_btn btn-success">START NOW</button>
                  </div>
                </div>

                <div class="text-white text-center mt-5" >Account Balance : 30</div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center mt-3 login_container">
                      <button type="button" name="button" class="btn login_btn btn-warning">Reacharge Now</button>
                    </div>
                  </div>
        </div>
    </div>
</div>
<p class="text-white text-center mb-0 mt-1">E-vyakta <i class="fa fa-copyright" aria-hidden="true"></i></p>
