<div class=" mt-5 ">
    <div class="d-flex justify-content-center">
        <div class="user_card bg-white">
            <div class="text-monospace mb-2">
                <div class="float-left">
                <h4 class="shadow p-2 bg-white rounded">No:1/21</h4>
                </div>
                <div class="float-right">
                    <h4 class="shadow p-2 bg-warning rounded">59s</h4>
                </div>
                <div class="clearfix"></div>
            </div>
                <div class="text-Muted mb-4 ml-1 " ><h4>1. Which of the following option is the right option ?</h4> </div>
                <h5 class="ml-3">
                        <div class="custom-control  mb-3 custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input bg-dark text-dark">
                            <label class="custom-control-label" for="customRadio1">Option 1</label>
                        </div>
                        <div class="custom-control mb-3 custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Option 2</label>
                        </div>
                        <div class="custom-control mb-3 custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">Option 3</label>
                        </div>
                        <div class="custom-control mb-2 custom-radio">
                            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio4">Option 4</label>
                        </div>
                </h5>    
                <div class="d-flex justify-content-center mb-3 mt-4 login_container">
                    <button type="button" name="button" class="shadow rounded btn login_btn btn-success">SUBMIT</button>
                </div>
                    <p class="text-muted mb-5 text-center">Answer will be submitted automatically when the timer is over.</p>    
                </div>
    </div>    
</div>
    